/* font style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;0,600;0,700;1,100;1,200;1,300;1,500;1,600&display=swap');


/* 1st section */
body{
    font-family: 'Poppins', sans-serif;  
    margin: 0%; 
}
.container{
    display: flex;
} 
h1{
    font-size: 40px;
    
}
.half-width{
    width: 50%;
    padding-left: 2px;
    background-color: blue;
    
}
.half-width img{
    width: 70%;
}
.link-button{
text-decoration: none;
background-color: #E02C6D;
padding: 10px 24px 10px 24px;
color: wheat;
}

/* Player style */
.flex-container{
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(400px,1fr));
    
    grid-gap: 10px;
    
}
.players{
    width: 90%;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 1px 2px  4px;
    padding-left: 50px;
    padding-right: 50px;
}
.players img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
}
